.App {
  text-align: center;
  min-height: calc(100vh - 16px);
  min-width: calc(100vw - 16px);
  background: hsl(202, 100%, 37%);
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
}


.App-header h1 {
margin: 0;
color: hsl(0, 0%, 96%);
font-size: 20px;
padding: 0 14px 10px;
}

.App-list {
  display: flex;
}
